/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.cedarville {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

div {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

p {
  margin: 0;
}
